.SortChart1 {
  min-width: 10%;
  max-width: 100%; 
  min-height: 1px;
  height: 8vh;
  
  padding: center;
  
  margin-left: auto;
 
  background-color: steelblue;

 
  initial-letter-align: center;
  
  display:inline-flex;
  flex-direction: row;
  align-items: center;
 
  -ms-flex-align: center;
  flex: center;
  align-items: center;
  align-content: center;
  text-align: center;
  transition: 0.75s ease-in-out;
}
.srbgc{
  background-color: steelblue;
border: 1px solid lightseagreen;
}
@media (min-width: 1200px) {
  .SortChart1 {
    min-width: 10%;
    max-width: 100%; 
    min-height: 1px;
    height: 8vh;
    
    
   
    padding: auto;
    
    margin-left: auto;
   
    background-color: lightseagreen;
  
    
    initial-letter-align: center;
    
   
    align-items: center;
   
    -ms-flex-align: center;
    flex: center;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: 0.75s ease-in-out;
  }
  .srbgc{
    background-color: lightseagreen;
  
  }

}


.stext{margin: 1 auto 0.25rem;

}
